footer {
    padding: 130px 0;
    background-color: 
    #244D4D;
    .container {
        .back-to-top {
            a {
                
                i {
                    cursor: pointer;
                    &:hover {
                        transition: all .4s linear;
	                    transform: scale(1.1);
                    }
                }
            }
        }
        .footer-header-left {
            h3 {
                font-family: $font-family-two;
                font-weight: 400;
                font-size: 45px;
                line-height: 60px;
                color: white;
                padding-right: 13vw;
            }
            @include for-phone-only {
                padding-bottom: 30px;
            }
            @include for-tablet-portrait-up  {
                padding-bottom: 30px;
            }
        }
        .footer-header-right {
            a {
                padding: 14px 24px;
                text-decoration: none;
                background-color: #3A5F5F;
                font-size: 19px;
                font-family: $font-family-one;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                color: white;
                margin: 0 8px;
                @include tranisition;
                &:hover {
                    background-color: white;
                    color: #3A5F5F;
                }
                @include for-phone-only {
                    font-size: 14px;
                }
            }
            
        }
        hr {
            border-color: white;
            margin: 60px 0;
        }
       
        .footer-item {
            @include for-phone-only {
                margin-bottom: 30px;
                text-align: center;
            }
            .footer-logo {
                @include for-phone-only {
                    text-align: center;
                    margin: 30px 0;
                }
                a {
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 37px;
                    text-decoration: none;
                    color: white;
                }
                p {
                    @include p-tag;
                    color: white;
                    margin: 19px 0;
                }
                .footer-social {
                    display: flex;
                    @include for-phone-only {
                        justify-content: center;
                        margin: 30px 0;
                    }
                    @include for-tablet-portrait-up {
                        margin: 40px 0;

                    }
                    li {
                        margin: 0 12.5px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            // @include for-phone-only {
            //     margin: 0 auto;
            //     text-align: center;
            // }
            // @include for-tablet-portrait-up {
            //     margin: 0 auto;
            //     text-align: center;
            // }
            h3 {
                color: white;
                margin-bottom: 15px;
                font-family: $font-family-two;
                font-size: 17px;
                font-weight: 500;
            }
            a {
                text-decoration: none;
                display: block;
                font-family: $font-family-two;
                font-size: 15px;
                font-weight: 400;
                color: #EEEEEE;
                margin-bottom: 5px;

            }
        }

    }
}